<configuration>
    <turboFilter class="com.acme.payments.logging.ThreadIdTurboFilter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [T%X{threadId} %thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set specific loggers to appropriate levels -->
    <logger name="com.acme" level="INFO"/>
    <logger name="io.micronaut" level="INFO"/>
    <logger name="org.testcontainers" level="INFO"/>
</configuration>
